@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #00040f;
  --color-secondary: #00f6ff;
  --color-dimWhite: rgb(255 255 255 / 0.7);
  --color-dimBlue: rgb(9 151 124 / 0.1);
  
  --font-family-poppins: "Poppins", sans-serif;
  
  --breakpoint-xs: 480px;
  --breakpoint-ss: 620px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1060px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1700px;
}


:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5rem; 
}
::-webkit-scrollbar-track {
  background:  rgb(0 4 15); 
}
::-webkit-scrollbar-thumb {
  background:#bef3f5;
  border-radius:10px; 
}
::-webkit-scrollbar-thumb:hover {
  
  background: #7de7eb; 
}
.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(170px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.bodyPage{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(45deg, #8500ff, #5acaff);
  height: 100vh;
}

#containerPage {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/assets/bg.png') #151729;
  box-shadow: 0 15px 30px rgba(0,0,0,.5);
}

#containerPage .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

#containerPage .content h2{
  font-size: 18vw;
  color: #fff;
  line-height: 1em;
}

#containerPage .content h4{
  position: relative;
  font-size: 1.5em;
  color: #111;
  margin-bottom: 20px;
  background: #fff;
  font-weight: 300;
  padding: 10px 20px;
  display: inline-block;
}

#containerPage .content p{
  color: #fff;
  font-size: 1.2em;
  align-self: center;
}

#containerPage .content a{
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  background: #ff0562;
  color: #fff;
  text-decoration: none;
  margin-top: 25px;
  border-radius: 25px;
  border-bottom: 4px solid #d00d56;
}

/* In your CSS or Tailwind CSS configuration */
.popup-container {
  width: 80%; /* Default width */
  height: 80%; /* Default height */
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (min-width: 800px) {
  .popup-container {
    width: 45%; /* Adjusted width for screens wider than 800px */
  }
}

@media (min-width: 1200px) {
  .popup-container {
    width: 41%; /* Adjusted width for screens wider than 1200px */
    height: 90%; /* Adjusted height for screens wider than 1200px */
  }
}


/* Define the glow animation */
@keyframes glow {
  0% {
    box-shadow: 0 0 15px rgba(228, 225, 225, 0.6);
  }
  50% {
    box-shadow: 0 0 55px rgba(181, 163, 163, 0.6); /* Adjust the size of the glow */
  }
  100% {
    box-shadow: 0 0 5px rgba(113, 110, 110, 0.6);
  }
}

.glow-effect {
  animation: glow 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite; /* Use cubic bezier easing */
  transition: all 5s ease-in-out; /* Use cubic bezier easing */
}

/* Apply additional styles on hover for a smoother transition */
.glow-effect:hover {
  animation: glow 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite; /* Use cubic bezier easing */
  transform: scale(1.05);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6)); /* Adjust the glow intensity */
  opacity: 0.9;
  background-color: white;
}

